<h3>投稿の詳細</h3>

<h5>タイトル</h5>
<div><%= @feeling_post.title %></div>
<h5>本文</h5>
<div><%= @feeling_post.body %></div>

<div>投稿者：<%= @feeling_post.user.name %></div>
<div>投稿日時：<%= @feeling_post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %></div>

<div>     <!--横並びにする-->
  <div><!--いいね数-->
    <% if @feeling_post.favorited_by?(current_user) %> <!--feeling_postモデルに記述したメソッド呼び出し-->
      <%= link_to feeling_post_favorite_path(@feeling_post), method: :delete do %>
        <i class="fa-solid fa-heart" style="color: red;"></i>
      <% end %>
    <% else %>
      <%= link_to feeling_post_favorite_path(@feeling_post), method: :post do %>
        <i class="fa-solid fa-heart" style="color: gray;"></i>
      <% end %>
    <% end %>
    <%= @feeling_post.favorites.count %>
  </div>
  <div><!--コメント数-->
    <i class="fa-regular fa-comment"></i>
    <%= @feeling_post.comments.count %>
  </div>
</div>

<% if current_user.id == @feeling_post.user_id %>
  <div><%= link_to "編集", edit_feeling_post_path(@feeling_post), class: "btn btn-outline-success", style: "font-weight: bold;" %></div>
  <div><%= button_to "削除", feeling_post_path(@feeling_post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger", style: "font-weight: bold;" %></div>
<% end %>


<!--コメント一覧-->
<div>
  <table>
    <tbody>
      <% @feeling_post.comments.each do |comment| %>
        <tr>
          <td>
            <%= image_tag comment.user.get_user_image(50, 50) %><br>
            <%= comment.user.name %>
          </td>
          <td><%= comment.comment %></td>
          <td><%= comment.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %></td>
          <td>
            <% if comment.user == current_user %>
              <!--～～_path(削除対象のコメントが関連するFeelingPostオブジェクト, 削除対象のコメントオブジェクト)-->
              <!--2つの引数を渡すことでRailsは適切なURLを生成する-->
              <%= link_to "削除", feeling_post_comment_path(@feeling_post, comment), method: :delete, class: "btn btn-sm btn-danger", remote: true %>
              <!--remote: trueは非同期通信をするオプション-->
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!--コメント投稿フォーム-->
<div>
  <!--form_withヘルパーではlocal: falseを指定すると非同期通信になる-->
  <%= form_with model: [@feeling_post, @comment], local: false do |f| %>
    <%= f.text_area :comment, rows: '3', placeholder: "コメントしてみる", id: "comment_textarea" %>
    <!--id: "comment_textarea"を追加すると、comment_textareaというIDがテキストエリアに割り当てられる-->
    <%= f.submit "送信する" %>
  <% end %>
</div>