<h3>投稿の詳細</h3>

<h5>タイトル</h5>
<div><%= @feeling_post.title %></div>
<h5>本文</h5>
<div><%= @feeling_post.body %></div>

<div>投稿者：<%= @feeling_post.user.name %></div>
<div>投稿日時：<%= @feeling_post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %></div>

<div><%= link_to "編集", edit_feeling_post_path(@feeling_post), class: "btn btn-outline-success", style: "font-weight: bold;" %></div>
<div><%= button_to "削除", feeling_post_path(@feeling_post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger", style: "font-weight: bold;" %></div>

