<h3>マイプロフィール編集</h3>

<%= form_with model: @user, url: user_path do |f| %>

  <div><%= f.file_field :user_image, accept: "image/jpg" %></div>

  <h5>氏名</h5>
  <div>
    <%= f.text_field :name, required: true %>
    <%= f.text_field :name_kana, required: true %>
  </div>

  <h5>誕生日</h5>
  <div><%= f.date_field :birthday %></div>

  <h5>メールアドレス</h5>
  <div><%= f.email_field :email, required: true %></div>

  <h5>電話番号</h5>
  <div><%= f.text_field :telephone_number, required: true %></div>

  <div><%= f.submit "変更を保存", class: "btn btn-success", style: "font-weight: bold;" %></div>

<% end %>
