<% if current_user.id == @user.id %>
  <h3>マイプロフィール</h3>
<% else %>
  <h3><%= @user.name %>さんのプロフィール</h3>
<% end %>

<div><%= image_tag @user.get_user_image(100, 100) %></div> <!--HTMLのimgタグを生成するimage_tagヘルパーを使う-->
<!--@user.get_uer_image(100, 100)は画像のURLを返すだけだが、それをimage_tagで囲むとHTMLの<img>タグとして表示される画像になる-->
<!--image_tagなしだとURL自体が文字列として表示され、画像として表示されない-->

<h5>氏名</h5>
<div><%= @user.name %>（<%= @user.name_kana %>）</div>

<h5>誕生日</h5>
<div><%= @user.birthday_view %></div> <!--userモデルに記載したbirthday_viewメソッド呼び出し-->

<% if current_user.id == @user.id %>
  <h5>メールアドレス</h5>
  <div><%= @user.email %></div>

  <h5>電話番号</h5>
  <div><%= @user.telephone_number %></div>

  <h5>アカウント作成日</h5>
  <div><%= @user.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d") %></div>

  <div>
    <div>フォロー数<strong><%= link_to @user.followings.count, user_followings_path(@user) %></strong></div>
    <div>フォロワー数<strong><%= link_to @user.followers.count, user_followers_path(@user) %></strong></div>
  </div>

  <div><%= link_to "編集", edit_user_path(@user), class: "btn btn-outline-success", style: "font-weight: bold;" %></div>
  <div><%= link_to "退会", check_users_path, class: "btn btn-outline-danger", style: "font-weight: bold;" %></div>

<% else %>
  <div><%= render "public/relationships/btn", user: @user, options: {class: ""} %></div>
  <!--オプションでクラスはnilを返すよう設定(デフォルト設定になる=||の後に記述した設定を反映)-->
<% end %>
