<!DOCTYPE html>
<html>
  <head>
    <title>Myfeeling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div>
          <div>
            <div><%= link_to "トップ", root_path %></div>
          </div>
          <h3>ログインしています</h3>
          <ul>
            <li><%= link_to "ユーザー", users_path %></li>
            <li><%= link_to "みんなの投稿", feeling_posts_path %></li>
            <li>マイページ</li>
            <li><%= link_to "ログアウト", destroy_user_session_path %></li>
          </ul>
        </div>
      <% elsif admin_signed_in? %>
        <div>
          <div>
            <div><%= link_to "トップ", root_path %></div>
          </div>
          <h3>管理者でログインしています</h3>
          <ul>
            <li><%= link_to "ユーザー", admin_path %></li>
            <li><%= link_to "投稿一覧", admin_feeling_posts_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path %></li>
          </ul>
        </div>
      <% else %>
        <div>
          <div>
            <div><%= link_to "トップ", root_path %></div>
          </div>
          <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          </ul>
        </div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <div>
        <div>@2024 hedgedog</div>
      </div>
    </footer>
  </body>
</html>
