<!DOCTYPE html>
<html>
  <head>
    <title>Myfeeling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-2" style="background-color: #e5ffcc;">
      <!--d-flex：子要素をフレックスアイテムにする、justify-content-between：2つの要素を右端と左端に配置、align-items-center：上下中央揃え-->
      <div class="d-flex justify-content-between align-items-center">
        <% if user_signed_in? %> <!--ログイン時-->
          <!--左側のホームボタン-->
          <div><%= link_to "トップ", root_path, class: "text-dark", style: "font-weight: bold;" %></div>
          <!--右側のメニュー部分-->
          <nav class="mb-2">
            <ul class="navbar-nav list-group-horizontal"> <!-- navbar-nav：ナビゲーションメニューのulタグにつけるクラス、list-group-horizontal：リストの横並び -->
              <li class="nav-item ml-2"><%= link_to "ユーザー", users_path %></li>
              <li class="nav-item ml-2"><%= link_to "みんなの投稿", feeling_posts_path %></li>
              <li class="nav-item ml-2"><%= link_to "新規投稿", new_feeling_post_path %></li>
              <li class="nav-item ml-2"><%= link_to "マイページ", user_path(current_user.id) %></li>
              <li class="nav-item ml-2"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            </ul>
          </nav>
        <% elsif admin_signed_in? %> <!--管理者ログイン時-->
          <div><%= link_to "トップ", root_path, class: "text-dark", style: "font-weight: bold;" %></div>
          <nav class="mb-2">
            <ul class="navbar-nav list-group-horizontal">
              <li class="nav-item ml-2"><%= link_to "ユーザー", admin_path %></li>
              <li class="nav-item ml-2"><%= link_to "投稿一覧", admin_feeling_posts_path %></li>
              <li class="nav-item ml-2"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            </ul>
          </nav>
        <% else %> <!--ログアウト時-->
            <div><%= link_to "トップ", root_path, class: "text-dark", style: "font-weight: bold;" %></div>
            <nav class="mb-2">
              <ul class="navbar-nav list-group-horizontal">
                <li class="nav-item ml-2"><%= link_to "About", about_path %></li>
                <li class="nav-item ml-2"><%= link_to "新規登録", new_user_registration_path %></li>
                <li class="nav-item ml-2"><%= link_to "ログイン", new_user_session_path %></li>
              </ul>
            </nav>
        <% end %>
      </div>
    </header>

    <main>
      <!--フラッシュメッセージ表示-->
      <% flash.each do |message_type, message| %>
        <div class="flash-massage <%= message_type %>"><%= message %></div>
      <% end%>
       <!--flashをeachメソッドと実行するとキーと対応する値を取り出すことが可能-->
       <!--取り出したキー(:noticeや:alert)：message_type、値("投稿しました"や"失敗しました")：messageにそれぞれ代入-->

      <!--各ページのビュー表示-->
      <%= yield %>
    </main>

    <footer class="p-2" style="background-color: #e5ffcc;">
      <div>
        <div class="text-center">@2024 hedgedog</div>
      </div>
    </footer>
  </body>
</html>
